/*
Colores
  Tarjetas
    Red: hsl(0, 78%, 62%)
    Cyan: hsl(180, 62%, 55%)
    Orange: hsl(34, 97%, 64%)
    Blue: hsl(212, 86%, 64%)
  Sombra
    Dark Blue: hsl(240, 25%, 50%) al 20% de opacidad;
  Texto
    Grey: hsl(229, 6%, 66%)
  Fondo de la tarjeta y del background
    White: hsl(0, 0%, 93%)

Fuente de la página
  https://fonts.google.com/specimen/Poppins
  Estilos 200, 400 y 600
*/

*{
  box-sizing: border-box;
}

body{
  margin: 0;
  background-color: hsl(0, 0%, 93%);
  font-family: 'Poppins', sans-serif;
}

/* TRABAJANDO CON EL HEADER:   */

.header{
  width: 100%;
  text-align: center;
}

.header__sub-title{
  margin-bottom: -17px;
  font-weight: 200;
  font-size: 1.5rem;
}

.header__title{
  font-weight: 600;
  font-size: 1.5rem;
  padding-top: 5px;
  padding-left: 10px;
}

.header__text{
  font-weight: 400;
  font-size: .65rem;
  color: hsl(229, 6%, 66%);
  padding-top: 8px;
  padding-right: 12px;
  padding-left: 12px;
}


/* TRABAJANDO CON EL MAIN: */

.main{
  position: relative;
  top: 30px;
  width: 100%;
}

.container__card{
  position: relative;
  width: 230px;
  height: 160px;
  border: 1px solid transparent;
  border-radius: 15px;
  box-shadow: 5px 5px 4px hsl(240 25% 50% / .20);
}

.container__title{
  font-weight: 600;
  font-size: .9rem;
  padding-left: 12px;
}

.container__text{
  font-weight: 400;
  font-size: .6rem;
  color: hsl(229, 6%, 66%);
  padding-top: 8px;
  padding-right: 12px;
  padding-left: 12px;
}

.container__image{
  width: 35px;
  position: relative;
  left: 170px;
  bottom: 25px;
  padding-top: 35px;
  padding-bottom: 10px;
}

.container__card--red,
.container__card--orange,
.container__card--cyan,
.container__card--blue{
  position: absolute;
}

.container__card--red{
  left: 525px;
  top: 200px;
  border-top: 4px solid hsl(0, 78%, 62%);
}

.container__card--orange{
  left: 525px;
  top: 390px;
  border-top: 4px solid hsl(34, 97%, 64%);
}

.container__card--cyan{
  left: 250px;
  top: 300px;
  border-top: 4px solid hsl(180, 62%, 55%);
}

.container__card--blue{
  left: 800px;
  top: 300px;
  border-top: 4px solid hsl(212, 86%, 64%);
}

/* 
ESTILOS DORIAN: 
BODY:
- En el body puso un text align center, para alinear absolutamente todo el contenido al centro. 
- Puso la font-weigth: 400.

EN EL MAIN-TITLE: 
- Como puso dos span dentro del titulo y necesitaba que cada span estuviera en una linea distinta, lo que hizo fue pasarlo de elemento de linea a elemento de bloque y forzar el salto de linea. 
- Aumento el font-size.

SUTITULO: 
- Le puso un width del 30%, pero se va de lado. Esto se debe a que al ser un elemento de bloque y tener un ancho declarado, necesitamos centrarlo como elemento de bloque. Lo centro con margin-left y margin-right.

CARDS: 
- Tomo el contenedor de las tarjetas y le dio position relative, esto con el fin de darle a cada una de las tarjetas position absolute y que se colocon cada una de ellas con respecto al contenedor que ya esta posicionado. 
- Le dio medidas a el contenedor. 

CARD:  
- Le dio el position absolute a cada una de las tarjetas y tambien les dio medidas (width y height), ya que perdieron sus medidas al darles position absolute.
- Les dio bgc. 
- Luego les dio estilos comunes, como el borde y la sombra.

COLOCANDO LAS TARJETAS: 
-> Como le puso medidas al contenedor, logro mover cada una de las tarjetas mas facil con respecto al contenedor. 

ESTILOS PROPIOS DE CADA TARJETA: 
- Para alinear a la izquierda el titulo y el parrafo, lo que hizo fue darles un text-align: left. 
- Al icono, simplemente le dio un position absolute. Luego un right: 2em y botton: 2em.

BORDE DE COLORES:
- Lo dio a cada uno con el selecto especifico que se creo para ese estilo en particular. 

DETALLE FINAL: 
- Como el titulo y el parrafo de cada tarjeta quedaban muy pegados a la izquierda, les dio un padding de 0 en la vertical y de 2em en los lados -> padding: 0 2em. NOTA: Si recuerdo darle al body el box-sizing: border box, no se va a romper al momento de agregar este padding.

FINALMENTE, anadio colores de fuentes, tamanos de fuentes y agrego fuentes de Google. 

*/

